*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/vendor
/flutter_sdk
/mobile_client/.dart_tool
/mobile_client/build
/mobile_client/.flutter-plugins
/mobile_client/.flutter-plugins-dependencies
/vercel-static
Homestead.json
Homestead.yaml
Thumbs.db
